<h1 class="animated fadeIn fast">LOS COMICS</h1>
<hr>
<div class="animated2 fadeIn fast" style="text-align:justify">
<p>
    Un superhéroe es un personaje que pertenece al mundo de la ficción.
    Forma parte del género del cómic y de la ciencia ficción y sus aventuras
    han sido llevadas al cine y a la televisión. El superhéroe es un 
    personaje que vive una serie de peripecias, las
    cuales están enmarcadas en contextos históricos diversos, aunque
    preferente la acción ocurre en el mundo actual.
    <br>
    <br>
</p>

</div>

<div class="aboutimg fadeIn fast">
    <img class="aboutt" src="assets/img/super.jpg" >
    <br>
    <br>
</div>

<div class="animated2 fadeIn fast">    
    <p>
    Un superhéroe es un personaje que pertenece al mundo de la ficción.
    Forma parte del género del cómic y de la ciencia ficción y sus 
    aventuras han sido llevadas al cine y a la televisión.
    <br>
    
    <br>
    
    Su principal característica consiste en tener algún poder superior, 
    es decir, una capacidad por encima de lo normal en algún sentido 
    (algunos vuelan, otros tienen una inmensa fuerza o un poder extraño).
    La facultad extraordinaria que poseen tiene, por lo general, un origen
    especial.<br>
    una mutación genética es el fenómeno más común y aparece en
    Spiderman o Lobezno, aunque las causas que explican su capacidad
    sobrehumana son muy diversas.

    <br>
    
    <br>
    Si bien los superhéroes aparecieron en Estados Unidos en los cómics
    en la década de 1930 (por ejemplo, Superman o Batman) existen
    precedentes históricos: los héroes de la mitología, los grandes
    guerreros, los atletas olímpicos de la antigua Grecia, las sagas 
    nórdicas y algunos personajes literarios del siglo XlX y XX 
    (Sandokán, el Zorro, Ivanhoe y otros muchos).
    <br>
    <br>
    El superhéroe es un personaje que atrae especialmente a los niños
    porque es alguien intrépido, valiente, que supera todo tipo de 
    peligros y lleva una indumentaria atractiva.
</p>

</div>
