<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   <!-- /* <meta name="viewport" content="width=device-width, initial-scale=1">*/-->

    <title>Heroes</title>
  
    <link href="/assets/bootstrap/gallery-grid.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container1 gallery-container" >
    <br>
    <br>
    <h1>GALERIA SUPEHEROE</h1>

    <p class="page-description text-center">Estan todos los</p>
    
    <div class="tz-gallery">

        <div class="row">
            
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/bridge.jpg">
                    <img src="/assets/img/muje.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="../images/tunnel.jpg">
                    <img src="/assets/img/dare.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/coast.jpg">
                    <img src="/assets/img/bruj.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rails.jpg">
                    <img src="/assets/img/batm.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/traffic.jpg">
                    <img src="/assets/img/ciclo.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rocks.jpg">
                    <img src="/assets/img/hulk.jpg" alt="Rocks">
                </a>
            </div>
           
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>
